extends ../layouts/default.pug

block main
  h1.box-title Trang đổi mật khẩu tài khoản quản trị

  .section-8
    form#setting-account-admin-edit-password-form
      input(type="hidden" id="id" name="id" value=accountAdmin.id)
      .inner-group
        label(class="inner-label" for="fullName") Họ tên
        input(type="text" id="fullName" name="fullName" value=accountAdmin.fullName readonly)
      .inner-group
        label(class="inner-label" for="password") Mật khẩu
        input(type="text" id="password" name="password")
      .inner-button.inner-two-col
        button Đổi mật khẩu
    .inner-back
      a(href=`/${pathAdmin}/setting/account-admin/list`) Quay lại danh sách