extends ../layouts/default.pug
include ../mixins/options.pug

block main
  h1.box-title Cấu hình trang chủ

  .section-8
    form#setting-website-info-home
      input(type="hidden" name="id" value=settingWebsiteInfo.id)
      .inner-group
        label(class="inner-label" for="categoryIdSection4") Chọn danh mục cho Section 4
        select(id="categoryIdSection4" name="categoryIdSection4")
          option(value="") -- Chọn danh mục --
          +options(categoryList, 0, settingWebsiteInfo.categoryIdSection4)
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
      a(href=`/${pathAdmin}/setting/list`) Quay lại danh sách